<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<context:component-scan base-package="nl.rooftopenergy.bionic.*" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/tomcat_ang" />
		<property name="username" value="rooftop" />
		<property name="password" value="energy" />
	</bean>


	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="packagesToScan" value="nl.rooftopenergy.bionic.entity" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="false" />
				<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"/>
			</bean>
		</property>
	</bean>

	<!--<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" />-->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	<bean class="nl.rooftopenergy.bionic.dao.user.UserJpaDao" id="userJpaDao"/>

	<!--
		INIT REST COMPONENTS
	 -->



	<bean id="objectMapper" class="org.codehaus.jackson.map.ObjectMapper" />

	<!-- Spring Security Settings-->

	<!--<security:http entry-point-ref="restAuthenticationEntryPoint">
		<security:intercept-url pattern="/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/pages/home.html" access="ROLE_USER"/>
		<security:intercept-url pattern="/rest/*" access="ROLE_USER"/>
		<security:intercept-url pattern="/pages/*" access="ROLE_USER"/>


		<security:form-login
				authentication-success-handler-ref="successHandler"
				authentication-failure-handler-ref="failureHandler"/>
		&lt;!&ndash;<security:remember-me
				data-source-ref="dataSource"/>&ndash;&gt;
		<security:logout
				invalidate-session="true"
				delete-cookies="JSESSIONID"
				logout-success-url="/index.html?logout=success"/>
	</security:http>-->
	<security:http
			realm="Protected API"
			use-expressions="true"
			auto-config="false"
			create-session="stateless"
			entry-point-ref="restAuthenticationEntryPoint"
			authentication-manager-ref="authenticationManager">
		<security:custom-filter ref="authenticationTokenProcessingFilter" position="FORM_LOGIN_FILTER" />
		<security:intercept-url pattern="/rest/user/authenticate" access="permitAll" />
		<security:intercept-url method="GET" pattern="/rest/**" access="hasRole('ROLE_USER')" />
		<security:intercept-url method="PUT" pattern="/rest/**" access="hasRole('ROLE_USER')" />
		<security:intercept-url method="POST" pattern="/rest/**" access="hasRole('ROLE_USER')" />
		<security:intercept-url method="DELETE" pattern="/rest/**" access="hasRole('ROLE_USER')" />
	</security:http>

	<bean id="restAuthenticationEntryPoint"
		  class="nl.rooftopenergy.bionic.security.RestAuthenticationEntryPoint"/>
	<!--<bean id="successHandler"
		  class="nl.rooftopenergy.bionic.security.SecurityUrlAuthenticationSuccessHandler"/>
	<bean id="failureHandler"
		  class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<constructor-arg value="/index.html?login=fail"/>
	</bean>-->

	<bean id="encoder"
				class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg name="strength" value="11" />
	</bean>
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="userJpaDao">
				<security:password-encoder ref="encoder">
			</security:password-encoder>
		</security:authentication-provider>
	</security:authentication-manager>

	<bean class="nl.rooftopenergy.bionic.security.AuthenticationTokenProcessingFilter" id="authenticationTokenProcessingFilter">
		<constructor-arg ref="userJpaDao" />
	</bean>

</beans>